.sidebar {
    /* background: @BLUEBERRY_300; */
    background: shade( @bg_color, 1);
    /* background: red; */
}

.sidebar-title {
    border-bottom: 1px solid shade (@bg_color, 0.9);
    background: shade (@bg_color, 0.95);
}

.sidebar-title-text {
    font-weight: 700;
	/* color: @STRAWBERRY_900; */
	margin: 5px;
	font-size: 14px;
}

.list-box {
    background-color: transparent;
}

.list-box-row {
    background-color: transparent;
}

.list-box-row-label {
    color: red;
}
