.sidebar {
    /* background: @BLUEBERRY_300; */
    background: shade( @bg_color, 1);
    /* background: red; */
}

.sidebar-title {
    border-bottom: 1px solid shade (@bg_color, 0.9);
    background: shade (@bg_color, 0.95);
}

.sidebar-title-text {
    font-weight: 700;
	/* color: @STRAWBERRY_900; */
	margin: 5px;
	font-size: 14px;
}

.list-box {
    background-color: transparent;
}

.list-box-row {
    background-color: transparent;
    transition: background 0.3s ease;
    margin: 0px 0px;
    border: none;
}

.list-box-row:selected {
    background-color: transparent;
    border: none;
}

.list-box-row:selected .btn-menu image {
	color: @fg_color;
}

.list-box-row:hover {
    background-color: shade (@bg_color, 0.96);
}

.list-box-row:hover .btn-menu {
    opacity: 1;
}

.list-box-row-grid {
    margin: 0px 0px;
}

.list-box-row-label {
    /* color: red; */
    font-size: 14px;
    margin: 5px 0px;
    font-weight: 500;
}

.status-indicator {
    /* padding: 5px; */
    min-height: 10px;
    min-width: 10px;
    margin: 15px 5px;
    border-radius: 100%;
}

.status-indicator-up {
    background-color: @LIME_500;
}

.status-indicator-down {
    background-color: @STRAWBERRY_500;
}

.btn-container {
    background: transparent;
}
.btn-container:focus {
    background:transparent;
    /* background-color: red; */
}

.btn-container:active {
    background:transparent;
}

.spinner {
    margin: 0 5px;
}

.btn-menu {
    background: transparent;
    opacity: 0;
}

.btn-menu:active,
.btn-menu:focus
.btn-menu:selected {
    background-color: transparent;
    color: #000;
}


.list-box-toolbar {
    border-top: 1px solid shade (@bg_color, 0.9);
    background: shade (@bg_color, 0.95);
}

.search-entry {
    margin: 9px;
}
